<!-- <div>
    <h2>Reset your password</h2>
    <p>Enter your email address and we will send you instructions to reset your password.</p>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="userEmail">Email</label>
        <input
          kendoTextBox
          id="userEmail"
          placeholder="Enter your email"
          formControlName="userEmail"
          type="email"
        />
        <div *ngIf="forgotPasswordForm.controls['userEmail'].invalid && forgotPasswordForm.controls['userEmail'].touched">
          A valid email is required.
        </div>
      </div>
  
      <button kendoButton type="submit" [disabled]="forgotPasswordForm.invalid">Continue</button>
    </form>
  
    <div *ngIf="emailSent">
      Instructions to reset your password have been sent to your email.
    </div>
  
    <div *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
   -->